<body style="background-color: #a373a3;">
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card" style="width: 25rem;">
      <div class="card-body">
        <h1 class="card-title text-center mb-3" style="color: purple;">Calculadora</h1>
        <h4 class="card-subtitle mb-3 text-center" style="color: #5e5d5e;">Insira dois números:</h4>

        <div class="input-group mb-2">
          <input type="number" class="form-control form-control-lg" placeholder="Insira o 1° número" [(ngModel)]="num1">
        </div>
        
        <div class="input-group mb-3">
          <input type="number" class="form-control form-control-lg" placeholder="Insira o 2° número" [(ngModel)]="num2">
        </div>
        

        <h4 class="card-subtitle mb-3 text-center" style="color: #5e5d5e;">Escolha a operação desejada:</h4>

        <div class="d-flex flex-column align-items-center mb-3">
          <button type="button" class="btn btn-primary mb-2" style="background-color: purple; color: white; padding: 8px 0; width: 200px; font-size:18px;" (click)="onClickSomar()">Somar</button>
          <button type="button" class="btn btn-primary mb-2" style="background-color: purple; color: white; padding: 8px 0; width: 200px; font-size:18px;" (click)="onClickSubtrair()">Subtrair</button>
          <button type="button" class="btn btn-primary mb-2" style="background-color: purple; color: white; padding: 8px 0; width: 200px; font-size:18px;" (click)="onClickMultiplicar()">Multiplicar</button>
          <button type="button" class="btn btn-primary mb-2" style="background-color: purple; color: white; padding: 8px 0; width: 200px; font-size:18px;" (click)="onClickDividir()">Dividir</button>
          <button type="button" class="btn btn-primary mb-2" style="background-color: purple; color: white; padding: 8px 0; width: 200px; font-size:18px;" (click)="onClickPotenciar()">Potenciação</button>
          <button type="button" class="btn btn-primary" style="background-color: purple; color: white; padding: 8px 0; width: 200px; font-size:18px;" (click)="onClickMediar()">Média</button>          
        </div>

        <div class="mb-5 text-center">
          <label for="resultado" class="mb-3" style="color: #5e5d5e; font-weight: bold; font-size: 1.5rem;">Resultado: </label>
          <p id="resultado" style="font-weight: bold; font-size: 1.5rem; padding: 10px; border-radius: 8px; box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.2); width: 200px; margin: 0 auto;">
            <!-- {{ }}: Sintaxe de interpolação usada no Angular para vinculação de dados. -->
            <!-- Se a variável 'resultado' não for null, o valor de 'resultado' será exibido. Caso contrário, exibe '...' -->
            {{ resultado !== null ? resultado : '...' }}
          </p>
        </div>        
      </div>
    </div>
  </div>
</body>
